html {
    scroll-behavior: smooth;
}

/* bg styling */
html::before { /* from https://julia-vicentini.de/blog/background-attachment-fixed-ios-workaround/ */
    content: ' ';
    display: block;
    background-image: url("img/galactic-crystal-wallpaper-modified.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh; width: 100vw;
    top: 0; bottom: 0; left: 0; right: 0;
    position: fixed;
    z-index: -10;
}

/* body styling*/
body {
    font-family: 'Comfortaa', cursive;
    margin-top: 100px;
    margin-bottom: 100px;
}

/* text styling */
#name{
    font-size: 150px;
}
#name-undertitle{
    color: rgb(21, 21, 21);
}
h1{
    font-size: 100px;
}
h2{
    font-size: 50px;
}

/* space styling*/
.space-little{
    padding-top: 25px;
}
.space-medium{
    padding-top: 50px;
}
.space-large{
    padding-top: 100px;
}

/* img styling */
img {

    border-radius: 10px;
    width: 150px;
    transition: transform .5s;
}
img:hover {
    transform: scale(2);
}

/* pop styling */
.zoom {
    transition: transform 0.2s; /* from W3Schools */
}
.zoom:hover {
    transform: scale(1.05); /* from W3Schools */
}

/* link styling */
a{
    color: white !important;
    text-decoration: none;
}
a:hover{
    color: lightgray !important;
    text-decoration: none;
}
a:active {
    color: rgb(255, 255, 255) !important;
    text-decoration: none;
}
.link-color {
    color: rgb(0, 217, 255) !important;
    text-decoration: none;
}

/* div canvas styling */
.big-canvas-style {
    background-color: rgb(21, 21, 21);
    border-radius: 10px;
}
.little-canvas-style {
    border-radius: 10px;
    padding: 30px;
}
.bg-blurry {
    background-color: rgba(21, 21, 21, 0.5);
    /* backdrop-filter: blur(10px); */ /* Von Herr Schneider */
}

/* table styling */
table{
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}
td{
    width: 50%;
}
/*
.bottom-line{
    border-bottom: 1px solid gray;
}
*/

/* mobile adjustments */
@media (max-width: 1200px) {
    #name{
        font-size: 100px;
    }
    #name-undertitle{
        font-size: 50px;
    }
    h1{
        font-size: 60px;
    }
    h2{
        font-size: 60px;
    }
}
@media (max-width: 767px) {
    #name{
        font-size: 70px;
    }
    #name-undertitle{
        font-size: 30px;
    }
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 35px;
    }
    .little-canvas-style{
        margin-right: 30px;
        margin-left: 30px;
    }
    .big-canvas-style{
        margin-right: 15px;
        margin-left: 15px;
    }
}
