html {
    scroll-behavior: smooth;
}

/* bg styling */
body {
    background-image: url("img/galactic-crystal-wallpaper-modified.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-bottom: 100px;
}

/* img styling */
img {
    margin: 50px;
    border-radius: 10px;
    width: 150px;
    transition: transform .5s;
}
img:hover {
    transform: scale(2);
}

 /* pop styling */
.zoom {
    transition: transform 0.2s; /* from W3Schools */
}
.zoom:hover {
    transform: scale(1.05); /* from W3Schools */
}

/* link styling */
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: lightgray;
    text-decoration: none;
}

/* div canvas styling */
.big-canvas-style {
    background-color: rgb(21, 21, 21);
    border-radius: 10px;
}
.little-canvas-style {
    border-radius: 10px;
}
.bg-blurry {
    background-color: rgba(21, 21, 21, 0.5);
    /*backdrop-filter: blur(10px);*/ /* Von Herr Schneider */
}

/* table styling */
table{
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}
td{
    width: 50%;
}
/*
.bottom-line{
    border-bottom: 1px solid gray;
}
*/